<html>

<head>
	<title>Boids</title>
	<meta content="Automatas, canvas, js, creative coding, generative art, genart" name="keywords">
	<meta content="Semi autonomus organisms that attract their nearby neighbors. " name="description">

	<style>
		body{
			font-family: 'Open Sans', 'Verdana', 'Monospaced';
			margin: 0 auto;
			overflow: hidden;
			color: #fff;
		}
		div{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 30px;
		}

	</style>

	<script src="../js/ga.js"></script>

	<head>

		<body>

			<canvas id="canvas"></canvas>
			<div>
			<span>Click to restart</span>
			</div>

			<p>
            Right now you're watching <strong data-count>many</strong> boids being
            simulated at <strong data-fps>60</strong> fps.
          </p>

			<script type="text/javascript">

				window.requestAnimFrame = (function(){
					return  window.requestAnimationFrame       || 
					window.webkitRequestAnimationFrame || 
					window.mozRequestAnimationFrame    || 
					window.oRequestAnimationFrame      || 
					window.msRequestAnimationFrame     ||  
					function( callback ){
						window.setTimeout(callback, 1000 / 60);
					};
				})();

				var canvas = document.getElementById("canvas");
				var ctx = canvas.getContext("2d");
				var Width, Height;
				var particleCount = 50,
				minDist = 100,
				maxVel = 3,
				friction = 0.0005,
				particleList = null;

				function paintCanvas() {
					ctx.fillStyle = "rgba(0,0,0,1)";
					ctx.fillRect(0,0,Width,Height);
				}

				function List() {
					this.first = null;

					this.insert = function( item ) {
						if (this.first == null){
							this.first = item;
						}
						else {
							item.next = this.first;
							this.first = item;
						}
					}
				}

				function Particle(id) {

					this.next = null;
					this.radius = 2;

					this.resetPosition = function(){
						this.x = Math.floor(Math.random() * Width);
						this.y = Math.floor(Math.random() * Height);
					}

					this.resetVelocity = function(){
						this.vx = -1 + Math.random() * 2;
						this.vy = -1 + Math.random() * 2;
					}

					this.draw = function() {
						var vtotal = Math.sqrt( (this.vx*this.vx) + (this.vy * this.vy));
						ctx.strokeStyle= "rgba(200,200,200,"+vtotal+")";
						ctx.beginPath();
						ctx.moveTo(this.x - 6 , this.y + 4);
						ctx.lineTo(this.x + 6 , this.y + 4);
						ctx.lineTo(this.x, this.y - 6);
						ctx.closePath();
						ctx.stroke();
					}

					this.move = function(){
						this.x += this.vx;
						this.y += this.vy

						//Managing the particle going out of the screen
						if(this.x + this.radius > Width){
							this.x = this.radius;
						} 
						else if(this.x - this.radius < 0) {
							this.x = Width - this.radius;
						}

						if(this.y + this.radius > Height){
							this.y = this.radius;
						} 
						else if(this.y - this.radius < 0) {
							this.y = Height - this.radius;
						}

						if(this.vx < 0){
							this.vx += friction;
						}else{
							this.vx -= friction;
						}

						if(this.vy < 0){
							this.vy += friction;
						}else{
							this.vy -= friction;
						}						
						
					}

					this.resetVelocity();
					this.resetPosition();
				}

				function setSizes(){
					Width = window.innerWidth;
					Height = window.innerHeight;
					canvas.width = Width;
					canvas.height = Height;
				}

				function init(){

					particleList = new List();

					for(var i = 0; i < particleCount; i++) {
						var p = new Particle(i);
						particleList.insert(p);	
					}

				}

				window.addEventListener( 'click', onWindowClick, false );

				function onWindowClick(){

					var particle = particleList.first;	
					while (particle != null) {
						particle.resetPosition();
						particle.resetVelocity();

						particle = particle.next;
					}

				}

				function update() {

					var p = particleList.first;	
					while (p != null) {

						//Update the position of the particle 
						p.move();
						//Check for nearby objects
						var p2 = p.next;	
						while (p2 != null) {
							distance(p, p2);
							p2 = p2.next;
						}
						//Draw the particle
						p.draw();
						
						p = p.next;
					}
				}

				// Distance calculator between two particles
				function distance(p1, p2) {
					var dist,
					dx = p1.x - p2.x;
					dy = p1.y - p2.y;

					dist = Math.sqrt(dx*dx + dy*dy);

					if(dist <= minDist) {

						var color = "rgba(102,204,204,"+ (1.0-dist/minDist) +")";
						ctx.beginPath();
						ctx.strokeStyle = color;
						ctx.moveTo(p1.x, p1.y);
						ctx.lineTo(p2.x, p2.y);
						ctx.stroke();
						ctx.closePath();


						ctx.fillStyle = "rgba(200,200,200,"+ (1.0-dist/minDist) +")";
						ctx.beginPath();
						ctx.arc(p1.x, p1.y, p1.radius, 0, Math.PI * 2, false);
						ctx.fill();
						ctx.beginPath();
						ctx.arc(p2.x, p2.y, p2.radius, 0, Math.PI * 2, false);
						ctx.fill();


						// Apply acceleration to the particles depending their interactions
						var ax = dx/5000,
						ay = dy/5000;
						
						p1.vx -= ax;
						p1.vy -= ay;
						
						p2.vx += ax;
						p2.vy += ay;

						if(p1.vx > maxVel){
							p1.vx = maxVel;
						}

						if(p1.vy > maxVel){
							p1.vy = maxVel;
						}


					}
				}

				// Start the main animation loop using requestAnimFrame
				function animate() {
					paintCanvas();
					update();
					requestAnimFrame(animate);
				}

				setSizes();
				//init();
				//animate();

			</script>

			 <script type="text/javascript" src="boids-js/bundle.js"></script>


		</body>
		</html>