<html>
<head>
  <title>Pursuit Curves 2</title>
  <meta content="Pursuit Curves, canvas, js, creative coding, generative art, genart" name="keywords">
  <meta content="Draw a pursuit curve on the canvas" name="description">
  <meta property="og:image" content="http://jlchapa.azurewebsites.net/img/pursuitcurves.png">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
  <style>
    body{
      font-family: 'Source Sans Pro', 'Open Sans', 'Verdana', 'Monospaced';
      margin: 0 auto;
      overflow: hidden;
      color: #fff;
    }
  </style>

  <script src="../js/randomColor.js"></script>
  <script src="../js/tinycolor.js"></script>
  <script src="../js/fileSaver.js"></script>
  <script src="../js/ga.js"></script>
  
</head>

<body>

  <canvas id="canvas"></canvas>

  <script>
    var canvas  = document.getElementById('canvas');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    var ctx = canvas.getContext('2d');
    ctx.lineWidth = 1;
    ctx.fillStyle = "#000";
    ctx.strokeStyle = "#FFF";

    var centerX = Math.floor(canvas.width/2);
    var centerY = Math.floor(canvas.height/2);

    var pi180 = Math.PI/180;     //Getting x and y positions with sine and cosine requires radians
    var polygonSides = 3;        // Current polygon sides
    var Vel = -1;                // Velocidad en [m/s]
    var radius = centerX/10;     // Initial radius
    var dt = 0.1;

    var Iterations = 1;      //Iterations to be drawn
    var MaxIterations = 200; //Max iterations

    //Get a triad of colors based on a random color :D
    var tc = tinycolor(randomColor());
    colors = tc.triad();

    //Used for the animation
    var shapeSides = 3;
    var maxPolygonSides = 11;

    var backgraoundColor = randomColor({luminosity: 'dark'});

    //iniciales
    var posiciones = [];
    for(i=0; i<Iterations; i++){
      posiciones.push([]);
    }

var brightenAmount = 0;
    var angle = 0;
    function drawPursuitCurves(){
      angle-=0.005;
      //brightenAmount += 0.1;
      //ctx.fillStyle = tinycolor(backgraoundColor).darken(brightenAmount).toString();

      //Clear the canvas
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.translate(centerX, centerY);
      ctx.rotate(angle);
      
      var i, j;
      var firstX, firstY;
      var lastX, lastY;
      var cl = colors.length;

      for(j=0; j<Iterations; j++){
        var pos = posiciones[j];
        
        for(i=0; i<polygonSides-1; i++){
          var x = pos[i][0]*radius;
          var y = pos[i][1]*radius;
          var x2 = pos[i+1][0]*radius;
          var y2 = pos[i+1][1]*radius;
          
          if(i==0){
            firstY=y;
            firstX=x;  
          }
          if(i==polygonSides-2){
            lastX  = x2;
            lastY  = y2;
          }

          ctx.beginPath();
          ctx.moveTo(x, y);
          ctx.lineTo(x2, y2);
          ctx.strokeStyle = colors[i%cl];
          ctx.stroke();
          ctx.closePath();
        }

        ctx.beginPath();
        ctx.moveTo(lastX, lastY);
        ctx.lineTo(firstX, firstY);
        ctx.strokeStyle = colors[cl-1];
        ctx.stroke();
        ctx.closePath();
        
      }

    }

    function calculatePositions(){
      var i,j;
      //Clear the previous array of positions from memory
      posiciones = [];
      //Allocate an array for the first set of positions
      posiciones[0] = [];

      //For each side of the polygon we calculate the initial position 
      //we use 5 just to have an initial length, we will later multiply this by an increasing radius
      //that will give the illusion on expansion
      for(i=0; i<polygonSides; i++){
        var angle = (360/polygonSides) * i;
        var x = 5 * Math.cos(angle  * pi180);
        var y = 5 * Math.sin(angle  * pi180);
        posiciones[0].push([x,y, angle]);
      }

      //For each iteration
      for(j=1; j<MaxIterations; j++) {

        //Create a new arrray to store the positions of this iteration
        posiciones[j] = [];

        //For each side of the polygon we calculate the new position based on the prevois one
        for(i=0; i<polygonSides; i++){
          var posAnt = posiciones[j-1];
          var xA = posAnt[i][0];
          var yA = posAnt[i][1];
          var xB = 0;
          var yB = 0;

          if(i==polygonSides-1){
            //if youre getting the last side of the polygon the ending side of the line is the first one
            xB = posAnt[0][0];
            yB = posAnt[0][1];
          }else{
            //for the rest of the sides
            xB = posAnt[i+1][0];
            yB = posAnt[i+1][1];
          }

          var x = xA + ((xA-xB) * (dt*Vel) );
          var y = yA + ((yA-yB) * (dt*Vel) );

          posiciones[j].push([x,y,0]);
        }  
      }
    }

    function draw(){
      
      ctx.setTransform(1, 0, 0, 1, 0, 0);

      if(Iterations < MaxIterations){
        radius += 1000/polygonSides;
        Iterations += 1;
        drawPursuitCurves();
      }else{
        newShape();
      }
      
      window.requestAnimationFrame(draw);
    }

    
    function newShape(){
      //So that this will lopp forever from a polygon of 3 sides (triangle) to a polygon with 10 sides (Decagon)
      shapeSides++;
      polygonSides = shapeSides % maxPolygonSides;
      if(polygonSides<3){ polygonSides=3; shapeSides+= 3;}

      //Restart the count of iterations and set the initial radius 
      Iterations = 1;
      radius = Math.floor(centerX/(10*polygonSides)); //a smaller inital radius for polygons with more sides
      MaxIterations = polygonSides < 5 ? 300 : polygonSides < 8 ? 400 : 550; //More iterations 

      //Get new colors
      var c = randomColor();
      var tc = tinycolor(c);  
      colors = tc.tetrad();
      backgraoundColor = randomColor({luminosity: 'light', hue: 'monochrome'});
      brightenAmount = 0;

      //Calculate all the positions for the new pursuit curve 
      calculatePositions();
    }

    //Calculate the inital set of positions for the fisrt shape and
    // call the animation loop
    calculatePositions();
    draw();

  </script>

  </body></html>