<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lamps</title>
	<meta content="Modeled a bunch of lights inspired on an istagram pic." name="description">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta property="og:image" content="http://jlchapa.azurewebsites.net/img/lightsSquare.png" />
	
	<style>
		body {
			font-family: "Open Sans", "Arial", Monospace;
			background-color: #000;
			color: #fff;
			margin: 0px;
			overflow: hidden;
		}
	</style>
</head>

<body>

	<script src="../js/build/three.min.js"></script>
	<script src="../js/build/TrackballControls.js"></script>
	<script src="../js/jquery-2.1.3.min.js"></script>
	<script src="../js/randomColor.js"></script>

	<script src="renderers/WebGLDeferredRenderer.js"></script>
	<script src="js/ShaderDeferred.js"></script>

	<script src="shaders/CopyShader.js"></script>
	<script src="shaders/FXAAShader.js"></script>
	<script src="shaders/ConvolutionShader.js"></script>

	<script src="postprocessing/EffectComposer.js"></script>
	<script src="postprocessing/RenderPass.js"></script>
	<script src="postprocessing/ShaderPass.js"></script>
	<script src="postprocessing/MaskPass.js"></script>
	<script src="postprocessing/BloomPass.js"></script>

	<script>

		var container;
		var camera, scene, renderer;
		var lights = [];
		var bulbs = [];
		var bulbCount = 3;
		var distanceBetweenBulbs = 40;

		function init() {

			container = document.createElement( 'div' );
			document.body.appendChild( container );

			scene = new THREE.Scene();

			camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.1, 500 );
			camera.position.z = 100;
			camera.lookAt( scene.position );

			//Initialize the lights for the walls
			for(var j=0; j<2; j++){
				var light = new THREE.PointLight( 0xfefefe, 1, 100 );
				light.castShadow = true;
				lights.push(light);
				scene.add(light);
			}

			var wallMaterial = new THREE.MeshPhongMaterial( { color: 0x827D83} );
			var g = createRoomGeometry();
			g.computeFaceNormals();
			g.computeVertexNormals();

			var room = new THREE.Mesh( g, wallMaterial);
			room.receiveShadow = true;
			var sx = window.innerWidth/10;
			var sy = window.innerHeight/10;
			var sz = 100;  

			room.scale.set(sx, sy, sz);
			room.position.set(-sx/2, -sy/2,-90);
			scene.add(room);

			var posX = -sx/2 + 40;
			var posX2 = sx/2 - 40;
			var posY = -sy/2 + 40;
			var posZFar = -sz + 40;

			lights[0].position.set( posX, posY,  posZFar ); 
			lights[1].position.set( posX2, posY,  posZFar );


			renderer = new THREE.WebGLDeferredRenderer( 
				{ width:  window.innerWidth, height: window.innerHeight, scale: 1, antialias: true } );


			var bloomEffect = new THREE.BloomPass( 0.65 );
			renderer.addEffect( bloomEffect );

			for(i=0; i<bulbCount; i++){
				var bulb = createBulbs();
				var zz = i*distanceBetweenBulbs;
				bulb.position.z = zz;
				bulb.position.x = 5;
				bulbs.push(bulb);
				scene.add( bulb );
			}

			var icoMat = new THREE.MeshPhongMaterial({
				color      :  0x505070,
				emissive   :  0x000000,
				specular   :  0xffffff,
				shininess  :  30
			});

			var mesh = new THREE.Mesh(new THREE.IcosahedronGeometry(12, 0), icoMat);
			mesh.rotation.z = 0.5;
			mesh.rotation.y = 0.5;
			mesh.rotation.x = 3;
			mesh.position.x = -2;
			mesh.position.z = -30;
			mesh.scale.set(2.5,2.5,2);
			//scene.add(mesh);

			container.appendChild( renderer.domElement );
			window.addEventListener( 'resize', onWindowResize, false );
		}

		function createAreaEmitter( light ) {

			var geometry = new THREE.BoxGeometry( 1, 1, 1 );
			var material = new THREE.MeshBasicMaterial( { color: light.color.getHex(), vertexColors: THREE.FaceColors } );

			var backColor = 0x222222;

			geometry.faces[ 5 ].color.setHex( backColor );
			geometry.faces[ 4 ].color.setHex( backColor );
			geometry.faces[ 2 ].color.setHex( backColor );
			geometry.faces[ 1 ].color.setHex( backColor );
			geometry.faces[ 0 ].color.setHex( backColor );

			var emitter = new THREE.Mesh( geometry, material );
			emitter.scale.set( light.width * 2, 0.2, light.height * 2 );

			return emitter;

		}

		function createBulbs() {

			var group = new THREE.Object3D();

			var areaLight1 = new THREE.AreaLight( 0xffffff, 1 );
			areaLight1.position.set( -8, 24, 0 );
			areaLight1.rotation.set( -1.7, -0.05, 0 );
			areaLight1.width = 12;
			areaLight1.height = 1;

			var areaLight2 = new THREE.AreaLight( 0xffffff, 1 );
			areaLight2.position.set( -5.5, -12, 0 );
			areaLight2.rotation.set( -1.4, -.05, 0 );
			areaLight2.width = 12;
			areaLight2.height = 1;

			var areaLight3 = new THREE.AreaLight( 0xffffff, 1 );
			areaLight3.position.set( 5, 8, -2 );
			areaLight3.rotation.set( -1.5, 1.6, 0 );
			areaLight3.width = 16;
			areaLight3.height = 1;

			var areaLight4 = new THREE.AreaLight( 0xffffff, 1 );
			areaLight4.position.set( -19, 4, -2 );
			areaLight4.rotation.set( -1.5, 1.6, 0 );
			areaLight4.width = 16;
			areaLight4.height = 1;

			var meshEmitter = createAreaEmitter( areaLight1 );
			areaLight1.add( meshEmitter );

			var meshEmitter2 = createAreaEmitter( areaLight2 );
			areaLight2.add( meshEmitter2 );

			var meshEmitter3 = createAreaEmitter( areaLight3 );
			areaLight3.add( meshEmitter3 );

			var meshEmitter4 = createAreaEmitter( areaLight4 );
			areaLight4.add( meshEmitter4 );

			group.add( areaLight1 );
			group.add( areaLight2 );
			group.add( areaLight3 );
			group.add( areaLight4 );

			return group;
		}

		function createRoomGeometry() { 
			var x1 = 0;
			var y1 = 0;
			var z1 = 0;
			var x2 = 1;
			var y2 = 1;
			var z2 = 1;
			var g = new THREE.Geometry(); 

		    g.vertices.push( new THREE.Vector3( x1,y2,z1) );  //0
		    g.vertices.push( new THREE.Vector3( x1,y1,z1) );  //1
		    g.vertices.push( new THREE.Vector3( x2,y1,z1) );  //2
		    g.vertices.push( new THREE.Vector3( x2,y2,z1) );  //3

		    g.vertices.push( new THREE.Vector3( x1,y2, z2) );  //4
		    g.vertices.push( new THREE.Vector3( x1,y1, z2) );  //5
		    g.vertices.push( new THREE.Vector3( x2,y1, z2) );  //6
		    g.vertices.push( new THREE.Vector3( x2,y2, z2) );  //7

		    // Every square is made up of two triangles, 
		    // we specify the faces of our room as follows
		    
		    //cara de atras
		    g.faces.push( new THREE.Face3( 0,1,2) );
		    g.faces.push( new THREE.Face3( 2,3,0) );

		    //cara izquierda
		    g.faces.push( new THREE.Face3( 0,4,5) );
		    g.faces.push( new THREE.Face3( 5,1,0) );

		    //cara derecha
		    g.faces.push( new THREE.Face3( 2,6,7) );
		    g.faces.push( new THREE.Face3( 7,3,2) );

		    //cara top
		    g.faces.push( new THREE.Face3( 0,3,7) );
		    g.faces.push( new THREE.Face3( 7,4,0) );

		    //cara btm
		    g.faces.push( new THREE.Face3( 1,5,6) );
		    g.faces.push( new THREE.Face3( 6,2,1) );

		    return g;
		}
		
		function onWindowResize() {
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();
			renderer.setSize( window.innerWidth, window.innerHeight );
		}

		function animate() {
			for(var i=0; i<bulbs.length; i++){
				var bulb = bulbs[i];
				bulb.position.z += 1;
				if(bulb.position.z >= 100){
					bulb.position.z = -40;
				}
			}
			render();
			requestAnimationFrame( animate );
		}


		function render() {
			renderer.render( scene, camera );
		}

		init();
		animate();

	</script>

	<script src="../js/ga.js"></script>

</body>
</html>
