extends layout

block content
  canvas#canvas
  .container
    .hero
      a(href='https://www.instagram.com/blackpolygon/')
        h1 blackpolygon
      p Experiments with javscript and procedural art

    .experiments
      a(class='button', href='/isthisart') 
        h2 is this art?
      a(class='button', href='/webgl') 
        h2 webgl 
      a(class='button', href='/canvas') 
        h2 canvas 

    script(src='scripts/canvas/index.js')