extends layout

block content
  h1= title
  p Experiments with javscript and procesural art

  a(class='button', href='https://www.instagram.com/blackpolygon/') Ig


  ul
    li 
      a(class='button', href='/webgl') webgl 
    li 
      a(class='button', href='/canvas') canvas 