body{
      font-family: 'Source Sans Pro', 'Verdana', 'Monospaced';
      margin: 0 auto;
      color: #000;
      background-color: #F4F4F4;
    }

    div.main{
      margin: 0 auto;
      width: 1000px;
      padding-top: 50px;
    }
    h1 {
      font-family: 'Lora', serif;
      color: #3f4275;
      font-size: 60pt;
      font-style: italic;
      font-weight: 200;
      line-height: 60pt;
      margin: 5px 0;
    }
    
    ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    li{
      width: 1000px;
      background: #CFCFCF;
      margin-bottom: 10px;
      height: 350px;
      overflow: hidden;
    }

    li a span {
      font-size: 11pt;
    }
    
    li img{
      width: 1000px;
    }

    a{
      background-color: #feba27;
      color: #3f4275;
      display: inline-block;
      font-size: 14pt;
      height: 40px;
      line-height: 37px;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }

    a:hover{
      background-color: #FF8E24;
    } 

    a:visited{
      color: #000;
    }