<html>
<head>
	<title>Boids II</title>
	<style type="text/css">
		body{
			font-family: 'Open Sans', 'Verdana', 'Monospaced';
			margin: 0 auto;
			overflow: hidden;
			color: #222;
		}
	</style>

	<script type="text/javascript" src="../js/geom.js"></script>
	<script type="text/javascript" src="../js/Boids.js"></script>

</head>

<body>
	
	<canvas id="myCanvas"></canvas>

	<script type="text/javascript">

		var flock = null;
		var done = false;
		var Width = window.innerWidth,
		Height = window.innerHeight;
		var margin = 50;

		function start()
		{
			var canvas = document.getElementById("myCanvas");
			ctx = canvas.getContext("2d");
			canvas.width = Width;
			canvas.height = Height;

			flock = new flocking();
			flock.init(200, Width, Height, 10, 1000, 400, 3, true, true);
			done = false;
		}


		function draw(){
			var boids = flock.getBoids();

			ctx.strokeStyle = "#C328E2";
			ctx.fillStyle = "#0A0A0A";
			ctx.fillRect(0, 0, Width, Height); 
			ctx.fillStyle = "#EF28A6";
			ctx.beginPath();
			ctx.lineWidth = 1;

			for (var i = 0; i < boids.length; i++) 
			{
				var b = boids[i];
				//Head
				ctx.moveTo(b.pos.x, b.pos.y);
				ctx.beginPath();
				ctx.arc(b.pos.x, b.pos.y, 3, 0, Math.PI * 2, false);
				ctx.closePath();
				ctx.fill();
				ctx.stroke();

				//Tail
				ctx.beginPath();
				var t = b.tail.length;
				for(var j = 0; j < t; j++)
				{
					var p = b.tail[j];
					var x = p.x;
					var y = p.y;
					ctx.quadraticCurveTo(p.x, p.y, 0.5 * (x + p.x), 0.5 * (y + p.y));
				}
				ctx.stroke();
				ctx.closePath();

				//Second head ?? just something at the end of the tail
				var lastTail = b.tail[b.tail.length -1];
				ctx.moveTo(b.pos.x, b.pos.y);
				ctx.beginPath();
				ctx.arc(lastTail.x, lastTail.y, 1, 0, Math.PI *2, false);
				ctx.fill();
				ctx.stroke();
				ctx.closePath();

			}

		}


		function animate() {
			flock.update();
			//flock.addBoid(15, true);
			draw();
			if(!done){
				requestAnimFrame(animate);
			}
		}

		window.requestAnimFrame = (function(){
			return  window.requestAnimationFrame       || 
			window.webkitRequestAnimationFrame || 
			window.mozRequestAnimationFrame    || 
			window.oRequestAnimationFrame      || 
			window.msRequestAnimationFrame     ||  
			function( callback ){
				window.setTimeout(callback, 1000 / 60);
			};
		})();

		start();
		animate();

	</script>


</body></html>