<html>

<head>
	<title>White Spores</title>
	<style>
		body{
			margin: 0 auto;
			overflow: hidden;
			font-size: 40px;
			color: #FFF;

		}

		span{
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
		}

	</style>

	<head>

		<body>

			<canvas id="canvas"></canvas>
			<span id="comparisonNumber"></span>

			<script type="text/javascript" src="js/quadtree.js"></script>
			<script type="text/javascript">

				window.requestAnimFrame = (function(){
					return  window.requestAnimationFrame       || 
					window.webkitRequestAnimationFrame || 
					window.mozRequestAnimationFrame    || 
					window.oRequestAnimationFrame      || 
					window.msRequestAnimationFrame     ||  
					function( callback ){
						window.setTimeout(callback, 1000 / 60);
					};
				})();

				var canvas = document.getElementById("canvas");
				var ctx = canvas.getContext("2d");
				var Width, Height;
				var particleCount = 90,
				particleList = {},
				minDist = 50,
				maxVel = 3,
				tree = null;

				var useBruteForce = true;

				function paintCanvas() {
					ctx.fillStyle = "rgba(0,0,0,1)";
					ctx.fillRect(0,0,Width,Height);
				}

				function Particle() {

					this.next = null;
					this.radius = 2;
					this.height = minDist;
					this.width = minDist;

					this.resetPosition = function(){
						this.x = Math.floor(Math.random() * Width);
						this.y = Math.floor(Math.random() * Height);
					}

					this.resetVelocity = function(){
						this.vx = -1 + Math.random() * 2;
						this.vy = -1 + Math.random() * 2;
					}

					this.draw = function() {
						var vtotal = Math.sqrt( (this.vx*this.vx) + (this.vy * this.vy));
						ctx.strokeStyle= "rgba(200,200,200,"+vtotal+")";
						ctx.beginPath();
						ctx.moveTo(this.x - 6 , this.y + 4);
						ctx.lineTo(this.x + 6 , this.y + 4);
						ctx.lineTo(this.x, this.y - 6);
						ctx.closePath();
						ctx.stroke();
					}

					this.move = function(){
						this.x += this.vx;
						this.y += this.vy

						//Managing the particle going out of the screen
						if(this.x + this.radius > Width){
							this.x = this.radius;
						} 
						else if(this.x - this.radius < 0) {
							this.x = Width - this.radius;
						}

						if(this.y + this.radius > Height){
							this.y = this.radius;
						} 
						else if(this.y - this.radius < 0) {
							this.y = Height - this.radius;
						}
					}


					this.resetVelocity();
					this.resetPosition();
				}

				function setSizes(){
					Width = window.innerWidth;
					Height = window.innerHeight;
					canvas.width = Width;
					canvas.height = Height;
				}

				function init(){

					var bounds = { x: 0, y: 0, width: Width, height: Height };
					tree = new QuadTree(bounds);

					for(var i = 0; i < particleCount; i++) {

						var p = new Particle();
						tree.insert(p);

						if (i == 0) {
							particleList.first = p;	
						}
						else {
							p.next = particleList.first;
							particleList.first = p;
						}

					}

				}

				window.addEventListener( 'click', onWindowClick, false );

				function onWindowClick(){

					useBruteForce = !useBruteForce;

					var particle = particleList.first;	
					while (particle != null) {
						particle.resetPosition();
						particle.resetVelocity();

						particle = particle.next;
					}

				}


				function draw() {

					paintCanvas();

					var particle = particleList.first;	
					while (particle != null) {
						particle.draw();

						particle = particle.next;
					}

				}


				function update() {
					var comparisons = 0;

					var p = particleList.first;	
					while (p != null) {

						p.move();

						if(useBruteForce){
							var p2 = p.next;	
							//var p2 = particleList.first;
							while (p2 != null) {
								distance(p, p2);
								comparisons++;
								p2 = p2.next;
							}
						}else{

							//Create the new tree
							tree.clear();
							//var bounds = { x: 0, y: 0, width: Width, height: Height };
							//tree = new QuadTree(bounds);
							var pp = particleList.first;	
							while (pp != null) {
								tree.insert(pp);
								pp = pp.next;
							}
							
							var items = tree.retrieve(p);
							items.forEach(function(p2){
								comparisons++;
								distance(p, p2);
							});
						}


						p = p.next;
					}

					document.getElementById('comparisonNumber').innerHTML = comparisons;

				}

// Distance calculator between two particles
function distance(p1, p2) {
	var dist,
	dx = p1.x - p2.x;
	dy = p1.y - p2.y;
	
	dist = Math.sqrt(dx*dx + dy*dy);

	if(dist <= minDist) {
		
		var color = "rgba(102,204,204,"+ (1.0-dist/minDist) +")";
		ctx.beginPath();
		ctx.strokeStyle = color;
		ctx.moveTo(p1.x, p1.y);
		ctx.lineTo(p2.x, p2.y);
		ctx.stroke();
		ctx.closePath();


		ctx.fillStyle = "rgba(200,200,200,"+ (1.0-dist/minDist) +")";
		ctx.beginPath();
		ctx.arc(p1.x, p1.y, p1.radius, 0, Math.PI * 2, false);
		ctx.fill();
		ctx.beginPath();
		ctx.arc(p2.x, p2.y, p2.radius, 0, Math.PI * 2, false);
		ctx.fill();

		
		// Some acceleration for the partcles 
		// depending upon their distance
		var ax = dx/5000,
		ay = dy/5000;
		
		// Apply the acceleration on the particles
		p1.vx -= ax;
		p1.vy -= ay;
		
		p2.vx += ax;
		p2.vy += ay;

		if(p1.vx > maxVel){
			p1.vx = maxVel;
		}

		if(p1.vy > maxVel){
			p1.vy = maxVel;
		}


	}
}

// Start the main animation loop using requestAnimFrame
function animate() {
	draw();
	update();
	requestAnimFrame(animate);
}

setSizes();
init();
animate();



</script>


</body>
</html>