html, body { height: 100% }

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f0f0f0;
  color: #121212;
}

canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero {
  background: #222;
  width: 500px;
  padding: 20px 50px;
}

.experiments {
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 50px;
  font-weight: normal;
}

.hero h1{
  color: #F5f5f5;
}

h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  margin: 0;
  font-size: 50px;
  color: #222;
}

p{
  font-size: 18px;
  color: #da00e0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.experiments a:hover {
  background: #4f2db5;
}

.experiments a:hover h2 {
  color: #fff;
}

.button{
   margin: 76px 10px 0;
   padding: 0px 10px;
}
