<html>

<head>
  <title>Circles</title>
  <style>
    body{
      margin: 0 auto;
      overflow: hidden;
    }

    #canvas{
      z-index: 2;
      background: transparent;
    }
    #canvas2{
      z-index: 1;
    }
  </style>

  <head>

    <body>

      <canvas id="canvas"></canvas>

      <script>

      // RequestAnimFrame: a browser API for getting smooth animations
      window.requestAnimFrame = (function(){
        return window.requestAnimationFrame       || 
        window.webkitRequestAnimationFrame || 
        window.mozRequestAnimationFrame    || 
        window.oRequestAnimationFrame      || 
        window.msRequestAnimationFrame     ||
          function( callback ){
          window.setTimeout(callback, 1000/60);
        };
      })();

      var canvas  = document.getElementById('canvas');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      var ctx = canvas.getContext('2d');
      ctx.lineWidth = 1;
      
      var colors = ["#530eea", "#7b4fcc", "#6443a5", "#dfc4ff", "#0A0221", "#15073D"];
      var centerX = Math.floor(canvas.width/2);
      var centerY = Math.floor(canvas.height/2);
      var cant = 20; //Number of circles for each ring
      var pi180 = Math.PI/180;  //Helper to convert angle to radians
      var frameCount = 0;
      
      function animate(){

        var noise = Math.sin(0.2*frameCount);
        //Create a gradient and fill the background with it
        var grd=ctx.createRadialGradient(centerX+50*noise,centerY,canvas.height/3,centerX,centerY,canvas.height/3+200);
        grd.addColorStop(0, colors[4]);
        grd.addColorStop(1, colors[5]);
        ctx.fillStyle = grd;        
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        var i, j;
        //For each ring of circles
        for(j=1; j<=4; j++){ 
          ctx.save();
          ctx.translate(centerX, centerY);
          ctx.strokeStyle = colors[j-1];
          var rotationAngle = frameCount/j*pi180;
          //Some rings will rotate counter-clockwise
          if(j%2==0){
            rotationAngle *= -1;
          }
          ctx.rotate(rotationAngle);

          //For each circle in the ring
          for(i=0; i<cant; i++){
            //We want to evenly distribute n circles 
            //in the circumference of an imaginary circle of radius r
            var angle = (360/cant) * i * pi180;
            var r = j*60+noise;
            var x = r * Math.cos(angle);
            var y = r * Math.sin(angle);
            //Once calculated the x,y position based on the angle we draw the circle
            ctx.beginPath();
            ctx.arc(x, y, j*40, 0, 2*Math.PI);
            ctx.stroke();
          }
          //We need to restore the state of the canvas so we can 
          //properly rotate and translate for the next ring of circles
          ctx.restore();
        }

        frameCount += 0.3;
        requestAnimFrame(animate);
      }

      animate();

</script>
</body>
</html>