<html>

<head>
  <title>Pendulums</title>
  <meta content="Pendulum, double pendulum, canvas, js, creative coding, generative art, genart" name="keywords">
  <meta content="Simulation of a double pendulum and the pattern it leaves as it moves" name="description">
  <meta property="og:image" content="http://jlchapa.azurewebsites.net/img/pendulum.png" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
  <style>
    body{
      margin: 0 auto;
      overflow: hidden;
      background: #1D083E;
      background-color: linear-gradient(0deg, #283159, #5D6EA6);
      font-family: 'Source Sans Pro', 'Open Sans', 'Verdana', 'Monospaced';
      color:#FFF;
    }

    #canvas{
      position: absolute;
      left: 0;
      top:0;
    }
    #canvas2{
      position: absolute;
      left: 50%;
      top: 0;
    }

    div.main{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 500px;
      padding: 5px;
    }
    h1{
      font-weight: bold;
      font-size: 14pt;
      margin: 5px 0;
    }
    a{
      text-decoration: none;
      background-color: #0078e7;
      font-size: 11pt;
      padding: 5px 10px;
      border-radius: 3px;
      border:none;
      margin-bottom: 10px;
      display: inline-block;
      color: #fff;
    }

    a:hover{
      background-color: #1f8dd6;
    }
    input{
      width: 150px;
    }
  </style>
  <script src="../js/ga.js"></script>
  <head>

    <body>
      <canvas id="canvas2"></canvas>
      <canvas id="canvas"></canvas>
      <div class="main">
        <h1>PENDULUM</h1>
        <br/>
        <input type='number' class="number" value="30" step='1' min='1' max='50' onchange="updateM1(this.value)"/>  
        Mass 1 (kg)
        <br/>
        <input type='number' class="number" value="20" step='1' min='1' max='50' onchange="updateM2(this.value)"/>  
        Mass 2 (kg)
        <br/>
        <input id="l1" type='range' value="150" step='1' min='20' max='500' onchange="updateL1(this.value)"/> 
        Length 1
        <br/>
        <input id="l2" type='range' value="180" step='1' min='20' max='500' onchange="updateL2(this.value)"/> 
        Length 2
        <br/>

      </div>
      <script>

        var canvas  = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        canvas.width = window.innerWidth/2;
        canvas.height = window.innerHeight;
        context.fillStyle = '#000';
        context.strokeStyle = '#AF70FF';
        context.lineWidth = 1;

        var canvas2  = document.getElementById('canvas2');
        canvas2.width = window.innerWidth/2;
        canvas2.height = window.innerHeight;
        var context2 = canvas2.getContext('2d');
        context2.strokeStyle = "#FF776C";

        var centerX = Math.floor(canvas.width/2);
        var centerY = Math.floor(canvas.height/2);

        

        /* Physics Constants */
        var d2Theta1 = 0;
        var d2Theta2 = 0;
        var dTheta1  = 0;
        var dTheta2  = 0;
        var Theta1   = 0;
        var Theta2   = 0;
        var m1     = 30;
        var m2     = 20;
        var l1     = 150;
        var l2     = 180;
        var X0     = centerX;
        var Y0     = centerY-100;
        var g      = 9.8;
        var time   = 0.2;

        var init    = {};
        var line1 = {x0: X0, y0: Y0, x: 0, y: 0};
        var line2 = {x0: 0, y0: 0, x: 0, y: 0};
        var mass1 = {x:0, y:0, mass: m1};
        var mass2 = {x:0, y:0, mass: m2};

        function updateM1(m){
          mass1.mass = m;
        }

        function updateM2(m){
          mass2.mass = m;
        }

        function updateL1(l){
          l1 = l;
        }

        function updateL2(l){
          l2 = l;
        }

        function drawCircle(myCircle) {
        //context.rect(myCircle.x, myCircle.y, myCircle.mass, myCircle.mass);
        context.fillStyle = "#FF776C";
        context.beginPath();
        context.arc(myCircle.x, myCircle.y, myCircle.mass, 0, 2 * Math.PI, false);
        context.fill();
        context.closePath();
      }

      function drawLine(myLine) {
        context.beginPath();
        context.moveTo(myLine.x0, myLine.y0);
        context.lineTo(myLine.x, myLine.y);
        context.stroke();
      }

      function draw(mass1, mass2, line1, line2) {
        mu      =  1+m1/m2;
        var cost1t2 = Math.cos(Theta1-Theta2);
        var sint1t2 = Math.sin(Theta1-Theta2);
        var sint1 = Math.sin(Theta1);
        var sint2 = Math.sin(Theta2);

        d2Theta1  =  (g*
          (sint2*cost1t2-mu*sint1)
          -(l2*dTheta2*dTheta2+l1*dTheta1*dTheta1*cost1t2)
          *sint1t2)/(l1*(mu-cost1t2*cost1t2));
        

        d2Theta2  =  (mu*g*(sint1*cost1t2-sint2)+(mu*l1*dTheta1*dTheta1+l2*dTheta2*dTheta2*cost1t2)*sint1t2)/(l2*(mu-cost1t2*cost1t2));

        dTheta1   += d2Theta1*time;
        dTheta2   += d2Theta2*time;
        Theta1    += dTheta1*time;
        Theta2    += dTheta2*time;

        mass1.x = X0+l1*sint1;
        mass1.y = Y0+l1*Math.cos(Theta1);
        mass2.x = X0+l1*sint1+l2*sint2;
        mass2.y = Y0+l1*Math.cos(Theta1)+l2*Math.cos(Theta2);

        line1.x  = mass1.x;
        line1.y  = mass1.y;
        line2.x0 = mass1.x;
        line2.y0 = mass1.y;
        line2.x  = mass2.x;
        line2.y  = mass2.y;

        context.clearRect(0, 0, canvas.width, canvas.height);
        /*Draw the base of the pendulum*/
        context.fillStyle = "#555682";
        context.rect(centerX-50, line1.y0-10, 100, 10);
        context.fill();
        drawLine(line1);
        drawLine(line2);
        drawCircle(mass2);
        drawCircle(mass1);
        
        context2.lineTo(mass2.x, mass2.y);
        context2.stroke();
        
      }

      function update(){
        //console.log("update");
        var xc1 = X0+l1*Math.sin(Theta1);
        var yc1 = Y0+l1*Math.cos(Theta1);
        var xc2 = X0+l1*Math.sin(Theta1)+l2*Math.sin(Theta2);
        var yc2 = Y0+l1*Math.cos(Theta1)+l2*Math.cos(Theta2);
        mass1.x = xc1;
        mass1.y = yc1;
        mass2.x = xc2;
        mass2.y = yc2;
      }

      function animate(){
        update();
        //console.log("animate");
        context.clearRect(0, 0, canvas.width, canvas.height);
        draw(mass1, mass2, line1, line2 );
        requestAnimFrame(animate);
      }

      function start(){
        m1     = 10;
        m2     = 5;
        Theta1   = 90/180*(Math.PI);
        Theta2   = 90/180*(Math.PI);
        d2Theta1 = 0;
        d2Theta2 = 0;
        dTheta1  = 0;
        dTheta2  = 0;
        context2.beginPath();
        animate();
      }

      // RequestAnimFrame: a browser API for getting smooth animations
      window.requestAnimFrame = (function(){
        return  window.requestAnimationFrame       || 
        window.webkitRequestAnimationFrame || 
        window.mozRequestAnimationFrame    || 
        window.oRequestAnimationFrame      || 
        window.msRequestAnimationFrame     ||  
        function( callback ){
          window.setTimeout(callback, 1000 / 60);
        };
      })();

      start();

    </script>
  </body>
  </html>