<html>
<head>
  <title>Spirograph - Animated</title>
  <meta content="Spirograph, canvas, js, creative coding, generative art, genart" name="keywords">
  <meta content="An implementation of an animated spirograph using javascritp and canvas." name="description">

  <style>
    body{
      font-family: 'Open Sans', 'Verdana', 'Monospaced';
      margin: 0 auto;
      overflow: hidden;
    }
    div{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 200px;
      padding: 20px;
    }
    a{
      text-decoration: none;
      background-color: #0078e7;
      font-size: 14pt;
      padding: 5px 10px;
      border-radius: 3px;
      border:none;
      margin-top: 10px;
      display: inline-block;
      color: #fff;
    }

    a:hover{
      background-color: #1f8dd6;
    } 
  </style>

  <script src="js/ga.js"></script>

  <head>

    <body>

      <canvas id="canvas"></canvas>
      <div>
        <a href="spiro.html">Return</a> <br/>
      </div>

      <script>
      console.log("I don't know if its a good idea to look at it for a long time...");

      var canvas  = document.getElementById('canvas');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      var ctx = canvas.getContext('2d');
      ctx.lineWidth = 0.5;
      
      var centerX = Math.floor(canvas.width/2);
      var centerY = Math.floor(canvas.height/2);
      var pi180 = Math.PI/180;  //Helper to convert angle to radians
      var frameCount = 0;
      var numberOfColors = 255;
      var colorGradient = [];
      var maxRadius = (canvas.height - 100)/3;
      var w = 0; //Shift

      function animate(){

        ctx.fillStyle = "#223";        
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        var i, cant=500;
        var delta = 360/cant;
        var r = maxRadius, r2 = maxRadius/2, n = 1, n2 = frameCount % 360;    
        
        ctx.strokeStyle = colorGradient[frameCount % numberOfColors];
        var startX, startY;

        w = frameCount % 360; //Shift so we dont always start at 0 degrees (3 o'clock)

        for(i=0; i<cant; i++){
          var angle = delta * i * pi180;
          var x = r * Math.cos(n*angle+w) + r2 * Math.cos(n2*angle);
          var y = r * Math.sin(n*angle+w) + r2 * Math.sin(n2*angle);
          if(i==0){
            ctx.beginPath();
            startX = centerX + x;
            startY = centerY + y;
            ctx.moveTo(startX, startY);
          }else{
            ctx.lineTo(centerX + x, centerY + y);
          }
        }
        ctx.lineTo(startX, startY);
        ctx.stroke();

        frameCount += 1;
        window.setTimeout(animate, 100);
      }

      makeColorGradient(.3,.3,.3,0,2,4);
      animate();

      /*The following functions were taken from  http://krazydad.com/tutorials/makecolors.php*/
      function makeColorGradient(frequency1, frequency2, frequency3,phase1, phase2, phase3,center, width, len)
      {
        if (center == undefined)   center = 128;
        if (width == undefined)    width = 127;
        if (len == undefined)      len = numberOfColors;

        for (var i = 0; i < len; ++i)
        {
           var red = Math.sin(frequency1*i + phase1) * width + center;
           var grn = Math.sin(frequency2*i + phase2) * width + center;
           var blu = Math.sin(frequency3*i + phase3) * width + center;
           colorGradient[i] =RGB2Color(red,grn,blu);
        }
      }
      

      function RGB2Color(r,g,b)
      {
        return '#' + byte2Hex(r) + byte2Hex(g) + byte2Hex(b);
      }

      function byte2Hex(n)
      {
        var nybHexString = "0123456789ABCDEF";
        return String(nybHexString.substr((n >> 4) & 0x0F,1)) + nybHexString.substr(n & 0x0F,1);
      }


</script>
</body>
</html>