doctype html
html
  head
    title= 'Webgl '+title
    link(rel='stylesheet', href='/stylesheets/webgl/style.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js')
  body
    block content
