<!DOCTYPE html>
<html>
<head>
  <title>Draw a picture following flow fields</title>

  <style>
  body {
    background-color: #000;
    margin: 0 auto;
    overflow: auto;
    font-size: 14px;
    font-family: Open Sans, Segoe Ui, "Open Sans", sans-serif;
    color: #FFF
  }

  canvas{
    margin: 0 auto;
    max-width: 1000px;
  }

  #particles{
    margin: 0 auto;
  }

  button{
    padding: 5px 15px;
    background: none;
    border: 1px solid #AAA;
    color: #AAA;
    margin: 5px;
  }

  span{
    color: #AAA;
  }

  a{
    color:#5393DF;
  }

  button:hover{
    background: #222;
  }

  .container{
    width: 1000px;
    margin: 20px auto;
  }

  .container div{
    width: 2000px;
  }

  .controls{
    position: fixed;
    left: 5px;
    width: 200px;
    height: 500px;
    border: 1px solid #AAA;
  }

  h1{
    font-weight: normal;
  }
  #particles{
    border: 1px solid #444;
  }

  </style>
</head>

<body>

<div class="controls">
  <span> Original image by <a id="author" href = "#" target="_blank"> </a> </br>
  <span> Noise seed: <san id="seed"></span> </span> </br>
  <span> Noise delta: <san id="delta"></span> </span> </br>
  <button id="new">Click to start another one</button>
  <button id="save">Save image</button>
  <button id="clean">Clean</button>
  <button id="rotate">Rotate</button>
</div>

<div class="container">
  <canvas id="particles"></canvas>
  <canvas id="originalImage"></canvas>
</div>

<script src='../js/perlin.js'></script>
<script src='../js/jquery-2.1.3.min.js'></script>
<script src="../js/fileSaver.js"></script>
<script src="../js/ga.js"></script>

<script>

var images = [
["unsplash/back.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
["unsplash/squares.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
["gera/13.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/10.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/11.jpg", "Alex wong", "https://unsplash.com/photos/l5Tzv1alcps"],
  ["gera/22.jpg", "vadim kaipov", "https://unsplash.com/photos/WsHdnUs6i28"],
  ["gera/33.jpg", "Michael Fertig", "https://unsplash.com/photos/KZ1-ncOXdns"],
  ["gera/44.jpg", "Hoach Le Dinh", "https://unsplash.com/photos/c8TWWQ5ZnUw"],
  ["gera/55.jpg", "Sylvain Reygaerts", "https://unsplash.com/photos/kxxL-EhOlBU"],
  ["gera/66.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/77.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/88.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/99.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],
  ["gera/12.jpg",  "@geramendoza14", "https://www.instagram.com/p/BFtszFZABlX/?taken-by=geramendoza14"],

];

var index = 0;
var imgsrc = images[index][index];

//Obtener dos canvas (Uno va a tener la imagen original y el otro es donde vamos a pintar las particulas)
var canvas = document.getElementById('originalImage');  
var ctx = canvas.getContext('2d');
var canvas2 = document.getElementById('particles');
var ctx2 = canvas2.getContext('2d');
var particles = [];
var numParticles = 3000;
var delta = 200;
var imageReady = false;
var movement = "h"; //v- vertical, h-horizontal, r-random (each particle decides if it moves vertically or horizontally)
var pixelData = ctx.getImageData(0, 0, canvas.width, canvas.height).data;
var maxWidth = 2000;
var size = 1;

canvas2.width = canvas2.height = maxWidth;
canvas.width  = canvas.height  = maxWidth;

var Particle = function(){
  this.x = this.y =0;
  this.vy = this.vy = 0;
  this.age = 0;
  this.moveHorizontal = true;
  
  this.init = function(){
    this.maxLifeTime = Math.floor(1+Math.random()*3);
    this.y = canvas2.height * Math.random();
    this.x = canvas2.width * Math.random();
    this.color= "rgba(0,0,0,255)";
    if(movement == "v"){
      this.moveHorizontal = false;
    }else if(movement =="h"){
      this.moveHorizontal = true;
    }else {
      this.moveHorizontal = Math.random() > 0.5 ? true : false;
    } 
    
    //More velocity in the x axis if moving horizontally, more on the y axis if vertically
    if(this.moveHorizontal){
      this.vy = 2;
      this.vx = 3;
    }else{
      this.vy = 3;
      this.vx = 2;
    }

  }

  this.update = function(value){   
    
    this.age += 0.1;
    
    if(this.moveHorizontal){
      this.y -= value*this.vy;
      this.x += this.vx;

      if(this.x < 0 || this.x > canvas2.width){
        this.init();
      }

      if(this.y < 0){
        this.y = canvas2.height;
      }
      else if(this.y > canvas2.height)
      {
        this.y = 0;
      }

    }else //The particle is moving vertically
    {
      this.y -= this.vy;
      this.x += value*this.vx;

      if(this.y < 0 || this.y > canvas2.height){
        this.init();
      }

      if(this.x < 0){
        this.x = canvas2.width;
      }
      else if(this.x > canvas2.width)
      {
        this.x = 0;
      }

    }
    //Every time you die you get a new color
    if(this.age >= this.maxLifeTime){
      this.age = 0;
      this.setColor();
    }
  }

  this.setColor = function(){
    if(!imageReady) return;
    var pData = (Math.floor(this.x) + (Math.floor(this.y) * canvas.width)) * 4;
    var r = pixelData[pData];
    var g = pixelData[pData+1];
    var b = pixelData[pData+2];
    this.color = "rgba("+r+", "+g+", "+b+",255)";
  }

  this.init();
  this.setColor();
}


/*Button actions*/

$('#new').click(function(){

  index = ++index%images.length;
  imgsrc = images[index][0];
  init(imgsrc);

});

$('#clean').click(function(){
  
  ctx2.clearRect(0,0, canvas2.width, canvas2.height);

});

$('#rotate').click(function(){
  // ctx2.restore();
  // ctx2.save();
  ctx2.translate(-canvas2.width/2, -canvas2.height/2);
  // ctx2.rotate(90 * Math.PI/180 );

   ctx2.scale(-1, 1);

});

$('#save').click(function(){
  num++;

  if(canvas2.toBlob == undefined){
    link.href = canvas.toDataURL();
    link.download = "big"+num+".png";
  }else{
    canvas2.toBlob(function(blob) {
      saveAs(blob, "big"+num+".png");
    });
  }

});

function init(imgsrc){
  
  imageReady = false;
  var img = new Image();   // Create new img element
  img.addEventListener("load", function() {

    ctx.clearRect(0,0, canvas.width, canvas.height);
    ctx2.clearRect(0,0, canvas2.width, canvas2.height);
    
    //Resizing for the new image
    //The picture we just load has a width and height
    var w = img.width;
    var h = img.height;
    console.log(img);

    //If it is smaller than our maximum canvas size, we will adjust our canvas and make it smaller
    if(w <= maxWidth){
      console.log("smaller", w, h);
      canvas.width  = canvas2.width  = w;
      canvas.height = canvas2.height = h;
      ctx.drawImage(img,0,0,w,h);
    }
    else{
      //If it is bigger then we will scale the image to fit our maximum canvas size
      var ratio = maxWidth * (100/ w);
      var newH =  Math.floor((ratio/100) * h);
      canvas.width  = canvas2.width  = maxWidth;
      canvas.height = canvas2.height = newH;
      console.log("bigger ratio=", ratio, w, maxWidth, h, newH);
      ctx.drawImage(img,0,0,maxWidth, newH);
    }

    imageReady = true;
    pixelData = ctx.getImageData(0, 0, canvas.width, canvas.height).data;

  }, false);
  
  img.src = imgsrc;

  restart();
  requestAnimationFrame(drawFrame);

};

function drawFrame() {
  
  for(var i=0; i<numParticles; i++){
    var particle = particles[i];
    var value = noise.perlin2(particle.x/delta ,particle.y/delta);
    ctx2.fillStyle = particle.color; 
    ctx2.fillRect(particle.x,particle.y, size, size);
    particle.update(value);
    //console.log(particle.moveHorizontal);
  }

  requestAnimationFrame(drawFrame);
}

function restart(){
  //Give a new seed to the noise function, to get a different pattern
  var seed = Math.random();
  noise.seed(seed);
  self.particles = [];
  //delta = 200 + Math.random() * 200;
  for(var i=0; i<numParticles; i++){
    self.particles.push(new Particle());
  }

  $("#delta").html(delta);
  $("#seed").html(seed);
  $("#author").html(images[index][1]);
  $("#author").attr("href",images[index][2]);
  
}

init(imgsrc);

var num=0;




</script>
</body>