<!DOCTYPE html>
<html>
<head>
  <title>Perlin noise - random</title>

  <style>
  body {
    background-color: #eee;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14pt;
    font-family: sans-serif;
    color: #000;
  }
  #canvas{
    float:left;
    width: 100%;
    height: 100%;
    background: #000;
  }

  #info{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  </style>
</head>

<body>

  <canvas id="canvas"></canvas>
  <div id="info">
    Click anywhere to restart <br/>
    Press any key pause animation
  </div>

  <script src='../js/perlin.js'></script>
  <script src='../js/randomcolor.js'></script>
  <script src='../js/tinycolor.js'></script>
  <script src='../js/jquery-2.1.3.min.js'></script>


  <script>

/*
Using noise functions to create Rorschach test like patterns
Insipred by:  https://medium.com/@mattdesl/generative-impressionism-afa98ccb97da#.q7xzdkw5n
Using code from: https://github.com/josephg/noisejs
Cool colors by: https://github.com/davidmerfield/randomColor
*/

var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');

/*We are using the library randomColor to get an array of beautiful accent and background colors in rgb format, very convinient */
var bgColors = randomColor({hue: "monochrome", count:10, format: "rgbArray", luminosity: 'light'});
var colors = randomColor({count:10, format: "rgbArray"});

var image = ctx.createImageData(canvas.width, canvas.height);
var data = image.data;

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

image = ctx.createImageData(canvas.width, canvas.height);
data = image.data; 

  var particles = [];
//we want 50 particles for every 100 pixels of screen available
var numParticles = Math.floor(80*canvas.width/100);

var time = 10;
var animationTime = 0.1;

var colorIndex = 0;
var bgColorIndex = 0;
var bgMaxLevel = 0.3;
var pause = false;


noise.seed(Math.random());

var Particle = function(){
  this.x = 0;
  this.y = 0;
  this.vx = 0;
  this.vy = 0;
  this.age=0;
  

  this.init = function(){
    this.maxLifeTime = 10+Math.random()*10;
    this.y = canvas.height-100 + Math.random()*100;
    this.x = Math.random()*canvas.width;
    this.vx = 3;
    this.vy = Math.random();
  }

  this.update = function(value){
    //value +=1;
    //value = value*10;
    this.age += 0.1;
    this.y -= this.vx;
    this.x += value;

    if(this.x < 0){
      this.x = canvas.width;
    }else if(this.x > canvas.width){
      this.x = 0;
    }

    if(this.y < 0){
      this.y = canvas.height;
    }else if(this.y > canvas.height)
    {
      this.y = 0;
    }

    if(this.age >= this.maxLifeTime){
      this.age = 0;
      this.init();
    }
  }

  this.init();
}



var delta = 250;
function setField(){
  /*Loop through all the pixels in our image*/
  for (var x = 0; x < canvas.width; x++) {
    for (var y = 0; y < canvas.height; y++) {

          /*We want to know which color should we paint each pixel, 
          to do that we call the noise function which will return a value between -1 and 1 */
          var value = noise.perlin2(x/delta , y/delta);
          value = 177 + (value * 177);
          
          /*
          Remember: our image data is stored in an array, each pixel of our image needs 4 values to calculate its color
          so the lenght of our image data array will be numPixels * 4.
          To get the correspondin cell in the array given our current x,y position we use the following:
          */
          var cell = (x + y * canvas.width) * 4;

          // var color = tinycolor({ h: value, s: 1, l: .5 });
          // color = color.toRgb();
          // data[cell] = color.r;
          // data[cell + 1] = color.g;
          // data[cell + 2] = color.b;

          data[cell] = data[cell + 1] = data[cell + 2] = value;

          /* Remember how each pixel needs 4 values to set know its color
          The first three are R,G,B the last one its the Alpha and we always set it to its maximum value (unless you want a translucid color)*/
          data[cell + 3] = 255; 
        }
      }

      /*Copy the image to the canvas*/
      ctx.putImageData(image, 0, 0);

    }

    function drawFrame() {

      //if(!pause){
        //ctx.clearRect(0,0, canvas.width, canvas.height);
        //ctx.putImageData(image, 0, 0);
        //ctx.fillStyle="rgba(220,220,220,0.05)";
        ctx.fillStyle="rgba(2,5,0,0.05)";
        ctx.fillRect(0,0,canvas.width, canvas.height);
        

        for(var i=0; i<numParticles; i++){
          var particle = particles[i];
          var value = noise.perlin2(Math.floor(particle.x)/delta , Math.floor(particle.y)/delta);

          if(particle.age >= particle.maxLifeTime-0.1){
            ctx.fillStyle="#0CC";
          }else{
            var w = Math.floor((particle.maxLifeTime / particle.age)*10);
            var style = "rgba("+w+","+(w+100)+",255,1)";
            ctx.fillStyle=style;
          }
          
         
          ctx.fillRect(particle.x,particle.y,1,1);
          particle.update(value);

        }



        //time += 0.005;
        //animationTime = Math.sin(time)+Math.cos(time*2);
      //}

      requestAnimationFrame(drawFrame);
    }

    function restart(){

  //Give a new seed to the noise function, to get a different pattern
  noise.seed(Math.random());



for(var i=0; i<numParticles; i++){
  particles.push(new Particle());
}
  

}

function resize(){
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;

  image = ctx.createImageData(canvas.width, canvas.height);
  data = image.data; 

  //we want 50 particles for every 100 pixels of screen available
numParticles = Math.floor(80*canvas.width/100);

restart();
}


$("canvas").click(function(){
  //restart();
});

$(window).keypress(function() {
  //pause = !pause;
});

$(window).resize(function() {
  resize();
});

/*To start we first call the function resize() to set the appropiate width and height, 
then we start the animation loop*/
resize();
//setField();
requestAnimationFrame(drawFrame);

</script>
</body>