<!DOCTYPE html>

<title>Perlin noise</title>

<style>
body {
  background-color: #eee;
  margin: 0 auto;
  overflow: hidden;
}
#canvas{
  float:left;
  width: 50%;
  height: 100%;
}

#canvas2{
  float:left;
  width: 50%;
  height: 100%;
}
</style>

<canvas id="canvas"></canvas>
<canvas id="canvas2"></canvas>

<script src='../js/perlin.js'></script>
<script src='../js/tinycolor.js'></script>

<script>
var canvas = document.getElementById('canvas');
canvas.width = Math.floor(window.innerWidth/2);
canvas.height = window.innerHeight;

var canvas2 = document.getElementById('canvas2');
canvas2.width = Math.floor(window.innerWidth/2);
canvas2.height = window.innerHeight;

var ctx = canvas.getContext('2d');
var ctx2 = canvas2.getContext('2d');
ctx2.translate(canvas2.width, 0);
ctx2.scale(-1, 1);

var image = ctx.createImageData(canvas.width, canvas.height);
var data = image.data;
var cWidth = canvas.width;
var cHeight = canvas.height;
var time = 10;
var height = 0.1;
var min = 5; 
var noisefn = noise.simplex3;
noise.seed(Math.random());

function drawFrame() {
  var start = Date.now();

  

  for (var x = 0; x < cWidth; x++) {
    for (var y = 0; y < cHeight; y++) {

      var value = noisefn(x/200 , y/200, height);
      var cell = (x + y * cWidth) * 4;

      if(value<0.3){
       data[cell] = data[cell + 1] = data[cell + 2] = 255;
     }else if(value<0.35){
      //data[cell] = 27; data[cell + 1] = 223; data[cell + 2] = 146;
      data[cell] = 237; data[cell + 1] = 190; data[cell + 2] = 59;
    }else if(value<0.4){
      data[cell] = data[cell + 1] = data[cell + 2] = 255;
    }

    else if(value<0.8){
      data[cell] = data[cell + 1] = data[cell + 2] = 0;
    }else if(value<0.8){
       data[cell] = data[cell + 1] = data[cell + 2] = 255;
    }
    else {
      //data[cell] = data[cell + 1] = data[cell + 2] = 255;
      //data[cell] = 237; data[cell + 1] = 190; data[cell + 2] = 59;
    data[cell] = data[cell + 1] = data[cell + 2] = 0;
    }


      data[cell + 3] = 255; // alpha.
    }
  }

  ctx.putImageData(image, 0, 0);
  time += 0.005;

  ctx2.drawImage(canvas, 0, 0);

  //height = Math.abs(noise.simplex3(0, 0, time));
  height = Math.sin(time)+Math.cos(time*2);
  //console.log(height);
  requestAnimationFrame(drawFrame);
}


requestAnimationFrame(drawFrame);

</script>
