<html>

<head>
  <title>jlchapa</title>
  <meta content="canvas, js, creative coding, generative art, genart" name="keywords">
  <meta content="Compilation of my experiments with code." name="description">
  <link href='css/index.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="main">

    <h1>Noise</h1>
    <p>Drawing patterns with perlin and simplex noise.</p>
    <ul>
      <li><a href="noise/roargradient.html">
        Rorschach 1 / <span>Using noise functions to create Rorschach test like patterns. </span> <br/>
        <img src="img/roargradient.png">
      </a></li>

      <li><a href="noise/roar3.html">
        Rorschach 2 / <span> Using noise functions to create Rorschach test like patterns.</span>
        <img src="img/roar2.gif">
      </a> 
    </li>
  </ul>

    <h1>Organisms</h1>
    <p>A series of experiments with semi-autonomous beings. Simple rules that create complex results in a group.</p>
    <ul>
      <li><a href="organisms/spores.html">
        Spores / <span> Organisms that attract their nearby neighbors. </span>         <br/>
        <img src="img/spores.png">
      </a></li>

      <li><a href="organisms/cuajos.html">
        Renacuajos / <span> Applying a flocking algorithm </span>
        <img src="img/cuajos.png">
      </a> 
    </li>
  </ul>

  <h1>Painters</h1>
  <p> Beings that leave a trail over the canvas.  </p>
  <ul>
    <li>
      <a href="painters/painters.html">
        Painters I
        <img src="img/painters1.png">
      </a> 
    </li>
    <li>
      <a href="painters/boidsTrail.html">
        Painters II
        <img src="img/painters2.png">
      </a> 
    </li>

    <li>
      <a href="painters/delaunay.html">
        Delaunay blob / <span> 
        Using the delaunay triangulation over a set of invisible particles that move inside a circular bound.</span>
        <img src="img/delaunayblob.png">
      </a>
    </li>

  </ul>

  <h1>Math</h1>
  <p> Experimenting with math functions, geometry and things like that </p>
  <ul>
    <li>
      <a href="math/kaleidoscope.html">
        Kaleidoscope
        <img src="img/kaleidoscope.png">
      </a> 
    </li>

    <li>
      <a href="math/newLamps.html">
        Lamps / Lights
        <img src="img/lights.png">
      </a> 
    </li>

    <li>
      <a href="math/spiro.html">
        Spirograph
        <img src="img/spirograph.png">
      </a> 
    </li>

    <li>
      <a href="math/pursuitcurves.html">
        Pursuit Curves
        <img src="img/pursuitcurves.png">
      </a> 
    </li>

    <li>
      <a href="math/recursive.html">
        Recursive Polygons
        <img src="img/recursivePolygons.png">
      </a> 
    </li>
    <li>
      <a href="math/ico.html">
        3D Geometry
        <img src="img/3dgeometry.png">
      </a> 
    </li>

    <li>
      <a href="math/circles.html">
        Rings of circles
        <img src="img/circles.png">
      </a> 
    </li>

    <li>
      <a href="math/permutations.html">
        Permutations
        <img src="img/permutations.png">
      </a> 
    </li>

    <li>
      <a href="math/pendulum.html">
        Double Pendulum
        <img src="img/pendulum.png">
      </a> 
    </li>

    <li>
      <a href="math/lines.html">
        Draw a line, select a point on it and use it to draw another line. Repeat.
        <img src="img/lines.png">
      </a> 
    </li>

  </ul>


</div>
<script src="js/ga.js"></script>
</body>
</html>