<!DOCTYPE html>
<html>
<head>
  <title>Perlin noise & gradients</title>
   <meta content="canvas, js, creative coding, generative art, genart, perlin noise" name="keywords">
  <meta content="Using noise functions to create Rorschach test like patterns" name="description">
  <style>
  body {
    background-color: #eee;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14pt;
    font-family: 'Open Sans', "Segoe ui Light", sans-serif;
    color: #000;
    /*This gradient background was done with Colorzilla, very useful*/
    background: -moz-linear-gradient(top, #802c88 0%, #7049b1 37%, #5785e4 70%, #57ddff 100%);
    background: -webkit-linear-gradient(top, #802c88 0%,#7049b1 37%,#5785e4 70%,#57ddff 100%);
    background: linear-gradient(to bottom, #802c88 0%,#7049b1 37%,#5785e4 70%,#57ddff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#802c88', endColorstr='#57ddff',GradientType=0 );
    background-attachment: fixed;
  }

  #canvas{
    float:left;
    width: 50%;
    height: 100%;
  }
  #canvas2{
    float:left;
    width: 50%;
    height: 100%;
  }
  #info{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  </style>
</head>

<body>

  <canvas id="canvas"></canvas>
  <canvas id="canvas2"></canvas>
  <div id="info">
    Click anywhere to restart <br/>
    Press any key pause animation
  </div>

  <script src='../js/perlin.js'></script>
  <script src='../js/randomcolor.js'></script>
  <script src='../js/jquery-2.1.3.min.js'></script>
  <script>

  /*
  Using noise functions to create Rorschach test like patterns
  Insipred by:  https://medium.com/@mattdesl/generative-impressionism-afa98ccb97da#.q7xzdkw5n
  Using code from: https://github.com/josephg/noisejs
  Cool colors by: https://github.com/davidmerfield/randomColor
  */

  var canvas = document.getElementById('canvas');
  var canvas2 = document.getElementById('canvas2');
  var ctx = canvas.getContext('2d');
  var ctx2 = canvas2.getContext('2d');

  /*We are using the library randomColor to get an array of beautiful accent colors in rgb format, very convinient */
  var colors = randomColor({count:10, format: "rgbArray"});

  var image = ctx.createImageData(canvas.width, canvas.height);
  var data = image.data;
  
  var time = 10;
  var animationTime = 0.1;

  var colorIndex = 0;
  var bgColorIndex = 0;
  var bgMaxLevel = 0.3;
  var pause = false;

  function drawFrame() {

    if(!pause){

      /*Loop through all the pixels in our image, the image will be the same size as our canvas*/
      for (var x = 0; x < canvas.width; x++) {
        for (var y = 0; y < canvas.height; y++) {

          /*We want to know which color should we paint each pixel, 
          to do that we call the noise function which will return a value between -1 and 1 */
          var value = noise.perlin3(x/100 , y/100, animationTime);
          
          /*
          Remember: our image data is stored in an array, each pixel of our image needs 4 values to calculate its color
          so the lenght of our image data array will be numPixels * 4.
          To get the correspondin cell in the array given our current x,y position we use the following:
          */
          var cell = (x + y * canvas.width) * 4;

          /*Awesome, now we know the cell and the value, we just need to decide what color correspond to it
            The first three cells are R,G,B the last one its the Alpha and we always set it to its maximum value [255] (unless you want a translucid color)
          */

          if(value < bgMaxLevel){
            /*Background, all the pixels whose noise value is less than bgMaxLevel will be considered background */
            data[cell] = 184;
            data[cell + 1] = 181;
            data[cell + 2] = 223;
            data[cell + 3] = 255; 
          }else if(value<0.35){
            /*Accent color
              For the accent color, we want to use a combination of the gradient we have as background for the <body>
              and the color we have stored in our array. Thats why we are setting the alpha cell value to 100, 
              so we have a translucid color that will mix with the gradient background.
            */
            data[cell] = colors[colorIndex][0]; 
            data[cell + 1] = colors[colorIndex][1]; 
            data[cell + 2] = colors[colorIndex][2];
            data[cell + 3] = 100; 
          }else if(value<0.4){
            /*White*/
            data[cell] = data[cell + 1] = data[cell + 2] = 255;
            data[cell + 3] = 255; 
          }
          else {
            /*Black*/
            data[cell] = data[cell + 1] = data[cell + 2] = 0;
            data[cell + 3] = 255; 
          }
          
        }
      }

      /*Copy the image to the canvas*/
      ctx.putImageData(image, 0, 0);
      /*Clear our second canvas, then take whatever is on the first canvas and put it on it */ 
      ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
      ctx2.drawImage(canvas, 0, 0);
      
      time += 0.005;
      animationTime = Math.sin(time)+Math.cos(time*2);
    }

    requestAnimationFrame(drawFrame);
  }

var restart =   function(){

  //Give a new seed to the noise function, to get a different pattern
  noise.seed(Math.random());
  
  //Get new index to change background and accent color
  colorIndex = Math.floor(Math.random()*colors.length);
  
  //Choose a different maximum level, all pixels whose noise value is below this level will be considered background 
  bgMaxLevel = 0.1 + Math.random()*0.3;
}

function resize(){
  canvas.width = canvas2.width = Math.floor(window.innerWidth/2);
  canvas.height = window.innerHeight;
  canvas2.height = window.innerHeight;

  image = ctx.createImageData(canvas.width, canvas.height);
  data = image.data;

  /*Apply a transformation to the second canvas who will act as our mirrored image*/
  ctx2.translate(canvas2.width, 0);
  ctx2.scale(-1, 1);
  
}

$("canvas").click(function(){
  restart();
});

$(window).keypress(function() {
  pause = !pause;
});

$(window).resize(function() {
  resize();
});


/*To begin we first call the function resize() to set the appropiate width and height, 
then we start the animation loop*/
resize();
requestAnimationFrame(drawFrame);

</script>

<script src="../js/ga.js"></script>

</body>