<!DOCTYPE html>

<title>Perlin noise</title>

<style>
body {
  background-color: #eee;
  margin: 0 auto;
  overflow: hidden;
}
</style>

<canvas id="canvas"></canvas>

<script src='../js/perlin.js'></script>
<script src='../js/tinycolor.js'></script>

<script>
var canvas = document.getElementById('canvas');
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

var ctx = canvas.getContext('2d');

var image = ctx.createImageData(canvas.width, canvas.height);
var data = image.data;
var height = 0.1;
var time = 10;
var colors = [];

var min = 5; 

function drawFrame() {
  var start = Date.now();
  var cWidth = canvas.width;
  var cHeight = canvas.height;

  var noisefn = noise.simplex3;

  for (var x = 0; x < cWidth; x++) {
    for (var y = 0; y < cHeight; y++) {

      var value = noisefn(x/200 , y/200, time);
      //value = Math.abs(value) * 10;
      var cell = (x + y * cWidth) * 4;

      if(value<0.3){
      data[cell] = 20; data[cell + 1] = 0;  data[cell + 2] = 40;
      
     }else if(value<0.35){
      data[cell] = 0; data[cell + 1] = 0; data[cell + 2] = 250;
     }else if(value<0.4){
      data[cell] = 72; data[cell + 1] = 138; data[cell + 2] = 164;
     }

     else if(value<0.7){
      data[cell] = 255; data[cell + 1] = 255;  data[cell + 2] = 255;
      
     }else if(value<0.8){
      data[cell] = data[cell + 1] = data[cell + 2] = 0;
     }
     else {
      data[cell] = data[cell + 1] = data[cell + 2] = 255;
     }
// if(value<=min){
//       data[cell] = 12; data[cell + 1] =70;  data[cell + 2] = 88;
//      }
//      else if(value <= min*2){
//       data[cell] = 255; data[cell + 1] = 156;  data[cell + 2] = 58;
//      }else if(value <= min*3){
//       data[cell] = 219; data[cell + 1] = 0; data[cell + 2] = 255;
     
//      }else if(value <= min*4){
//       data[cell] = 220; data[cell + 1] = 40;  data[cell + 2] = 4;
//      }else if(value <= min*5){
//       data[cell] = 207; data[cell + 1] = 12;  data[cell + 2] = 143;
//      }
//       else {
//       data[cell] = 200; data[cell + 1] = 200;  data[cell + 2] = 200;
//      }

     // var color = tinycolor({ h: value, s: 1, l: .5 });
     // color = color.toRgb();
     // data[cell] = color.r;
     // data[cell + 1] = color.g;
     // data[cell + 2] = color.b;
      
      
      
      
      data[cell + 3] = 255; // alpha.
    }
  }

  ctx.putImageData(image, 0, 0);
time += 0.005;

  //height = Math.abs(noise.simplex3(0, 0, time));
  //height = Math.sin(time)+Math.cos(time*2);
  //console.log(height);
  requestAnimationFrame(drawFrame);
}


requestAnimationFrame(drawFrame);

</script>
