doctype html
html
  head
    title= 'Canvas '+title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', href='https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js')
  body
    block content
