<html>
<head>
 <title>Rings of circles</title>
 <meta content="Circles, canvas, js, creative coding, generative art, genart" name="keywords">
 <meta content="Evenly distribute n circles around a ring of radius r." name="description">

 <script src="/scripts/jquery-2.1.3.min.js"></script>

 <style>
  body{
   font-family: 'Open Sans', 'Verdana', 'Monospaced';
   margin: 0 auto;
   overflow: hidden;
   color: #fff;
 }

 div{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 300px;
   padding: 20px;
 }
 h1{
   font-weight: 200;
   font-size: 20pt;
   margin: 5px 0;
 }
 a{
   text-decoration: none;
   background-color: #0078e7;
   font-size: 14pt;
   padding: 5px 10px;
   border-radius: 3px;
   border:none;
   margin-top: 10px;
   display: inline-block;
   color: #fff;
 }

 a:hover{
   background-color: #1f8dd6;
 } 

 a:visited{
   color: #fff;
 }

</style>

<head>

  <body>

   <canvas id="canvas"></canvas>
   <div>
    <h1>Circles</h1>
    <a href="#" onclick="less()">-</a> 
    <a href="#" id="count" onclick="reset()"> 7 </a> 
    <a href="#" onclick="more()">+</a> Circle count<br/>

    <a href="#" onclick="lesslevel()">-</a> 
    <a href="#" id="level" onclick="resetlevel()"> 6 </a> 
    <a href="#" onclick="morelevel()">+</a> Levels
    <br/>

  </div>
  <script>

      // RequestAnimFrame: a browser API for getting smooth animations
      window.requestAnimFrame = (function(){
      	return window.requestAnimationFrame       || 
      	window.webkitRequestAnimationFrame || 
      	window.mozRequestAnimationFrame    || 
      	window.oRequestAnimationFrame      || 
      	window.msRequestAnimationFrame     ||
      	function( callback ){
      		window.setTimeout(callback, 1000/60);
      	};
      })();

      var canvas  = document.getElementById('canvas');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      var ctx = canvas.getContext('2d');
      ctx.lineWidth = 1;
      
      var colors = ["#530eea", "#7b4fcc", "#6443a5", "#dfc4ff", "#0A0221", "#15073D"];
      var centerX = Math.floor(canvas.width/2);
      var centerY = Math.floor(canvas.height/2);
      var cant = 7; //Number of circles for each ring
      var levels = 6;
      var pi180 = Math.PI/180;  //Helper to convert angle to radians
      var frameCount = 0;

      //Create a gradient and fill the background with it
      var grd=ctx.createRadialGradient(centerX,centerY,canvas.height/3,centerX,centerY,canvas.height/3+200);
      grd.addColorStop(0, colors[4]);
      grd.addColorStop(1, colors[5]);
      
      function animate(){

        var noise = 0;//Math.sin(0.2*frameCount);
        ctx.fillStyle = grd;        
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        var i, j;
        //For each ring of circles
        for(j=1; j<=levels; j++){ 
        	ctx.save();
        	ctx.translate(centerX, centerY);
        	ctx.strokeStyle = colors[j-1];

        	var rotationAngle = frameCount/j*pi180;
          	//Some rings will rotate counter-clockwise
          	if(j%2==0){
          		rotationAngle *= -1;
          	}
          	ctx.rotate(rotationAngle);

          	if(j==1){
          		ctx.lineWidth = 0.5;
          		ctx.strokeStyle = "#FFFFFF";
          		ctx.beginPath();
          		ctx.arc(0,0, 60, 0, 2*Math.PI);
          		ctx.stroke();
          		ctx.closePath();

          		ctx.beginPath();
          		ctx.arc(0,0, 122, 0, 2*Math.PI);
          		ctx.stroke();
          		ctx.closePath();	
          	}
          	

            //For each circle in the ring
            for(i=0; i<cant; i++){
	            
              //We want to evenly distribute n circles 
	            //in the circumference of an imaginary circle of radius r
	            var angle = (360/cant) * i * pi180;
	            var r = j*60;
	            var x = r * Math.cos(angle);
	            var y = r * Math.sin(angle);

            	//Once calculated the x,y position based on the angle we draw the circle
            	ctx.beginPath();
            	ctx.arc(x, y, r, 0, 2*Math.PI);
            	ctx.strokeStyle = colors[j-1 % 6];;//randomColor({hue:"purple"});//colors[j-1];
            	ctx.stroke();

            	if(j%3 == 0){
            		ctx.beginPath();
            		ctx.arc(x, y, 2, 0, 2*Math.PI);
            		ctx.strokeStyle = "#FFFFFF";
            		ctx.stroke();	
            	}
            	
            }

          	//We need to restore the state of the canvas so we can 
          	//properly rotate and translate for the next ring of circles
          	ctx.restore();
          }

          frameCount += 0.3;
          requestAnimFrame(animate);
        }

        function more(){
         cant += 1;
         $("#count").text(cant);
       }

       function reset(){
         cant = 1;
         $("#count").text(cant);
       }

       function less(){
         if(cant>0){
          cant -= 1;
        }
        $("#count").text(cant);
      }

      function morelevel(){
      	levels += 1;
      	$("#level").text(levels);
      }

      function resetlevel(){
      	levels = 1;
      	$("#level").text(levels);
      }

      function lesslevel(){
      	if(levels>0){
      		levels -= 1;
      	}
      $("#level").text(levels);
      }

      animate();

    </script>
  </body>
  </html>