mixin getpage(page)
    case page
        when 'circles'
            include circles.html
        when 'circles2'
            include circles3.html
        when 'falling'
            include falling.html
        when 'fractalSubdivision'
            include fractalSubdivision.html
        when 'lines'
            include lines.html
        when 'magenta'
            include magenta.html
        when 'pendulum'
            include pendulum.html
        when 'permutations'
            include permutations.html
        when 'pursuitCurves'
            include pursuitcurves.html
        when 'pursuitCurves2'
            include pursuitCurves2.html
        when 'fractalSubdivision'
            include fractalSubdivision.html
        when 'recursive'
            include recursive.html
        when 'recursive'
            include recursive.html
        when 'rotatingshapes'
            include rotatingshapes.html
        when 'spiro'
            include spiro.html
        when 'spiroAnim'
            include spiroAnim.html
        when 'triangles'
            include triangles.html
        when 'sound'
            include sound.html
        when 'puma'
            include sound.html