<html>

<head>
    <title>PUMA Holiday viz</title>
    <meta content="Sound, canvas, js, creative coding, generative art, genart" name="keywords">
    <meta content="." name="description">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js'></script>
    <script src="/scripts/p5/p5.sound.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35814018-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-35814018-2');
    </script>

    <style>
        body {
            font-family: 'Consolas', 'Monospaced';
            margin: 0 auto;
            overflow: hidden;
            color: #fff;
        }

        h1 {
            font-weight: 500;
            font-size: 20px;
        }

        div {
            position: absolute;
            top: 050px;
            width: 700px;
            background: rgba(0, 0, 0, 0.7);
            border: 1px solid #0084FF;
            padding: 10px;
        }

        .hidden {
            display: none;
        }
    </style>

    <head>

        <body>

            <canvas id="canvas"></canvas>
            <div id='paused'>
                <h1>Happy holidays PUMA</h1>
                <p>You can use your microphone to say your name, put on a song or make random animal noises. You will get a
                    unique visualization just for you =]
                    <br/>
                    <br/> Press the space bar to pause/resume.
                    <br/>
                    <br/> Press 'M' to show this message.
                </p>
                <br/>
            </div>
            <script>

                var canvas, ctx, w2, mic, h2, fft, spectrum, waveform, stopped = false, hidden = false;
                var pausedMessage = document.getElementById("paused");
                var cantRows = 220;
                var cantCols = 80;
                var squareWidth = 5;
                var squareHeight = 5;

                var squares = [];

                var frame = 0;
                // Finding ways to procrastinate userflows
                function setup() {
                    canvas = document.getElementById('canvas');
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                    ctx = canvas.getContext('2d');
                    ctx.lineWidth = 1;
                    w2 = window.innerWidth / 2;
                    h2 = window.innerHeight / 2;

                    squareWidth = w2 / cantCols;
                    squareHeight = canvas.height / cantRows;

                    mic = new p5.AudioIn()
                    mic.start();
                    fft = new p5.FFT(0.8);
                    fft.setInput(mic);

                    // Do you think dinosaurs had dreams and hopes too?
                    for (var i = 0; i < cantCols; i++) {
                        squares[i] = [];
                        for (var j = 0; j < cantRows; j++) {
                            squares[i][j] = 0;
                        }
                    }

                }

                function draw() {

                    var micLevel = mic.getLevel();
                    var gray = map(micLevel, 0.0, 1, 0, 500);
                    var greenColor = map(micLevel, 0.0, 1, 0, 100);

                    var c = color(gray); // Make the background color change in intensity depending on the overall volume
                    c.setAlpha(25.6); // an alpha gives the fading effect to the animations

                    ctx.fillStyle = c.toString();
                    ctx.fillRect(0, 0, canvas.width, canvas.height);

                    // We need to call analyze before doing the next computations
                    spectrum = fft.analyze();

                    // Divide the spectrum in N slots, get the energy level for each frequency
                    // Draw a circle with a radius that represents that amount of energy
                    var energySlots = 100;
                    var seRatio = spectrum.length / energySlots; // Spectrum/energy ratio
                    for (var i = 0; i < energySlots; i++) {
                        // Get the energy for that frequency
                        var freq = seRatio * i;
                        var e = fft.getEnergy(freq);

                        // The purple color of the circle will change depending on its position
                        var red = 155 + i;
                        ctx.strokeStyle = "rgba(" + red + ", 0, 255, 1)";

                        // Draw the circle
                        ctx.beginPath();
                        ctx.arc(w2, i * (canvas.height / energySlots), e, 0, 2 * Math.PI);
                        ctx.stroke();
                        ctx.closePath();
                    }

                    let centroid = fft.getCentroid();
                    var nyquist = 22050;
                    var freq_index = Math.floor(centroid / (nyquist / spectrum.length));

                    var ypos = map(centroid, 0, 2048, 0, canvas.height, true);
                    if (freq_index < cantRows) {
                        squares[frame][freq_index] = 1; // go from the side to the center until it reaches the center, repeat
                        squares[cantCols-1][cantRows - freq_index] = 2; // alwasy starting from the center
                    }

                    var red = 0;
                    var green = 255 - greenColor;
                    var blue = 155 + greenColor;
                   

                    for (var i = 0; i < squares.length; i++) {
                        for (var j = 0; j < squares[0].length; j++) {

                            if (squares[i][j] == 1) {
                                ctx.fillStyle = "rgba(" + red + "," + green + "," + blue + ", 0.5)";
                                ctx.fillRect(i * squareWidth, j * squareHeight, squareWidth, squareHeight);
                                ctx.fillRect(canvas.width - i * squareWidth, j * squareHeight, squareWidth, squareHeight);
                            }

                            if (squares[i][j] == 2) {
                                ctx.fillStyle = "rgba(255,170,0,0.4)";
                                ctx.fillRect(i * squareWidth, j * squareHeight, squareWidth/2, squareHeight/2);
                                ctx.fillRect(canvas.width - i * squareWidth, j * squareHeight, squareWidth/2, squareHeight/2);
                            }
                        }

                    }

                    frame += 1;
                    if (frame >= cantCols) {
                        frame = 0;
                    }

                    var newRow = [];
                    for (var j = 0; j < cantRows; j++) {
                        newRow[j] = 0;
                    }


                    squares.splice(0, 1);
                    squares.push(newRow);

                }

                function keyPressed() {
                    // Should I make the screen explode everytime you press a key? Nah....
                    if (keyCode === 77) {
                        if (hidden) {
                            pausedMessage.classList.remove('hidden');
                        }
                        else {
                            pausedMessage.classList.add('hidden');
                        }
                        hidden = !hidden;
                    }

                    if (keyCode === 32) {
                        if (stopped) {
                            loop();
                        }
                        else {
                            noLoop();
                        }
                        stopped = !stopped;
                    }

                }

                console.log("Don't be sneaky 👀! Just enjoy it");
                console.log('Press the spacebar to pause it / save the image.');
                console.log("Press 'M' to see the message");

            </script>
        </body>

</html>