<html>

<head>
    <title>Sound</title>
    <meta content="Sound, canvas, js, creative coding, generative art, genart" name="keywords">
    <meta content="." name="description">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js'></script>
    <script src="/scripts/p5/p5.sound.js"></script>

    <style>
        body {
            font-family: 'Open Sans', 'Verdana', 'Monospaced';
            margin: 0 auto;
            overflow: hidden;
            color: #fff;
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    <head>

        <body>

            <canvas id="canvas"></canvas>
            <div>
                <h1>Sound</h1>
                <span id="energy"></span>
                <br/>
            </div>
            <script>

                var canvas, ctx, w2, mic, h2, fft, spectrum, waveform, stopped = false;
                var energySpan = document.getElementById("energy");
                var cantRows = 220;
                var cantCols = 80;
                var squareWidth = 5;
                var squareHeight = 5;

                var squares = [];

                var frame = 0;

                function setup() {
                    canvas = document.getElementById('canvas');
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                    ctx = canvas.getContext('2d');
                    ctx.lineWidth = 1;
                    w2 = window.innerWidth / 2;
                    h2 = window.innerHeight / 2;

                    squareWidth = w2 / cantCols;
                    squareHeight = canvas.height / cantRows;

                    mic = new p5.AudioIn()
                    mic.start();
                    fft = new p5.FFT(0.8);
                    fft.setInput(mic);

                    // var c = color('magenta');
                    //console.log(c.toString());

                    for (var i = 0; i < cantCols; i++) {
                        squares[i] = [];
                        for (var j = 0; j < cantRows; j++) {
                            squares[i][j] = 0;
                        }
                    }

                }

                function draw() {

                    var micLevel = mic.getLevel();
                    var radius = map(micLevel, 0.0, 1, 10, w2);

                    var gray = map(micLevel, 0.0, 1, 0, 500);
                    var greenColor = map(micLevel, 0.0, 1, 150, 255);

                    var c = color(gray);
                    c.setAlpha(25.6);
                    // console.log(c.toString());
                    ctx.fillStyle = c.toString();//"rgba(0,0,0, 0.1)";
                    ctx.fillRect(0, 0, canvas.width, canvas.height);

                    //ctx.fillStyle = "#750";
                    spectrum = fft.analyze();

                    // for (var i = 0; i < spectrum.length; i++) {
                    //     var x = map(i, 0, spectrum.length, 0, canvas.width);
                    //     var h = -canvas.height + map(spectrum[i], 0, 255, canvas.height, 0);
                    //     ctx.fillRect(x, canvas.height, canvas.width / spectrum.length, h);
                    // }
                    // var energy = 'Energy: ';


                    var energySlots = 100;
                    for (var i = 0; i < energySlots; i++) {
                        var freq = (spectrum.length / energySlots) * i;
                        var e = fft.getEnergy(freq);

                        // energy += ' ' + freq + ': ' + e + ' ,';
                        var red = 155 + i;
                        var blue = 255;
                        ctx.strokeStyle = "rgba(" + red + ", 0," + blue + ", 1)";
                        ctx.beginPath();
                        ctx.arc(w2, i * ((canvas.height - 50) / energySlots) + 25, e, 0, 2 * Math.PI);
                        ctx.stroke();
                        ctx.closePath();

                        //paint on left side
                        // ctx.fillStyle = "#00FFBB";
                        // var colNumber = Math.floor(i / cantRows);
                        // var rowNumber = cantCols % i;



                        // console.log(colNumber, rowNumber);

                        // ctx.fillRect(colNumber * squareWidth,
                        //     rowNumber * squareHeight,
                        //     squareWidth, squareHeight);

                    }



                    // energySpan.innerText = energy;

                    let centroid = fft.getCentroid();

                    var nyquist = 22050;

                    var mean_freq_index = centroid / (nyquist / spectrum.length);
                    // console.log(mean_freq_index);

                    var ypos = map(centroid, 0, 2048, 0, canvas.height, true);
                    var rowIndex = mean_freq_index > cantRows ? cantRows - 1 : mean_freq_index;// map(centroid, 0, 22050, 0, 100, true);

                    squares[frame][Math.floor(rowIndex)] = 1;
                    // console.log(frame, Math.floor(rowIndex));
                    var margin = 5;

                    // ctx.lineWidth = 0.5;
                    // ctx.strokeStyle = "#00FFBB";
                    // ctx.fillStyle = "rgba(0,255, 200, 0.6)";
                    var red = 0;
                    var green = 255;
                    var blue = greenColor;
                    ctx.fillStyle = "rgba(" + red + "," + green + "," + blue + ", 0.6)";


                    // ctx.beginPath();
                    // ctx.arc(w2 - 300, ypos, radius, 0, 2 * Math.PI);
                    // ctx.stroke();
                    // ctx.closePath();

                    for (var i = 0; i < squares.length; i++) {
                        for (var j = 0; j < squares[0].length; j++) {

                            if (squares[i][j] == 1) {
                                ctx.fillRect(i * squareWidth + margin, j * squareHeight + margin, squareWidth, squareHeight);
                                ctx.fillRect(canvas.width - i * squareWidth + margin, j * squareHeight + margin, squareWidth, squareHeight);
                            } else {
                                // ctx.strokeRect(i * squareWidth + margin, j * squareHeight + margin, squareWidth, squareHeight);
                            }

                        }

                    }

                    frame += 1;
                    if (frame >= cantCols) {
                        frame = 0;
                    }

                    var newRow = [];
                    for (var j = 0; j < cantRows; j++) {
                        newRow[j] = 0;
                    }


                    squares.splice(0, 1);
                    squares.push(newRow);

                }

                function keyPressed() {
                    if (stopped) {
                        loop();
                    }
                    else {
                        noLoop();
                    }

                    stopped = !stopped;
                }

            </script>
        </body>

</html>